<div class="beneficiary-wrap">

    <div class="title-beneficiary">
        <h4>New Request for:</h4>
        <figure>
            <img src="images/icon_userLock.png" height="25px" width="32px">
        </figure>
        <div class="request-btns">
            <md-button class="btn requestActive requestSelf" ng-click="requestSelf()">Self</md-button>
            <md-button class="btn requestOthers" ng-click="requestOthers()">Others <span class="md-close-icon"></span> </md-button>
        </div>            
    </div>
    <!-- ./title-beneficiary -->

    <div ng-controller="DemoCtrl as ctrl" layout="column" class="auto-complete requestOthersDiv" ng-cloak>
        <md-content layout-padding layout="column">
            <form ng-submit="$event.preventDefault()">
                <md-autocomplete ng-disabled="ctrl.isDisabled" md-no-cache="ctrl.noCache" md-selected-item="ctrl.selectedItem" md-search-text-change="ctrl.searchTextChange(ctrl.searchText)" md-search-text="ctrl.searchText" md-selected-item-change="ctrl.selectedItemChange(item)" md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.name" md-min-length="0" placeholder="Lookup Beneficiary" md-menu-class="autocomplete-custom-template">
                    <md-item-template>
                        <span class="item-title">
                            <span> {{item.name}} </span>
                        </span>
                    </md-item-template>
                </md-autocomplete>
            </form>
        </md-content>
    </div>
    <!-- ./auto-complete -->

</div>
<!-- ./beneficiary-wrap -->
