<div id="content-container" class="md-layout-column" flex layout="column">

    <md-toolbar id="toolbar" class="header-toolbar" layout="row">
        <div layout="row" layout-align="start center" flex ui-view="toolbar"></div>
    </md-toolbar>
    <!-- #/toolbar -->

    <div id="content" flex>
        <md-content class="md-background md-hue-1 animate slide-up" ms-scroll ui-view="content" flex>
            <div id="mail" class="page-layout carded left-sidenav" layout="row" ui-view="mail">

            </div>
            <!-- #/mail -->
        </md-content>
    </div>
    <!-- #/content -->
    
</div>
