<div class="inner-page certifications">
    <div class="new-request-content">
        <div class="header" layout-align="start center">
            <h2>Certifications</h2>
        </div>
        <!-- ./header -->
    </div>
</div>

<md-toolbar class="innerpage-md-toolbar">
    <div class="content-panel-header">
        <div class="tab-custom-header">
            <div class="text-center">
                <h3><img src="images/icon_bitmap.png"> Jim Sands</h3>
                <a class="return2inbox" href="#"><i class="icon-arrow-left"></i>Return to Inbox</a>
                <p><span class="red-text">Revoke</span> or <span class="green-text">Certify</span> all current Access for this user to complete</p>
            </div>
        </div>
    </div>
</md-toolbar>
<perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
<div class="content-card" layout="column" flex ng-class="{'responsive-read-pane' : vm.responsiveReadPane}" ui-view="content-card">
    <div class="content-wrapper" layout="row" ng-controller="FilterController" flex>
        <md-content class="content flex-100 ms-scroll ng-scope md-default-theme" flex="100" ms-scroll>
            <div class="inner-page certifications">
                <div class="sprs-tabs">
                    <md-content>
                        <div class="tab-2col-lauout">
                            <table>
                                <tbody class="app-table-in" id="tab_accordion">
                                    <tr>
                                        <td>
                                            <table class="col-2-tbl">
                                                <tr>
                                                    <td>
                                                        <div class="accordion righticon-accordion">
                                                            <div class="accordion-container">
                                                                <div href="javascript:void(0);" class="accordion-toggle idealsteps-nav" ng-click="accordion_dialog_toggle($event)">
                                                                    <span class="toggle-icon"><i  class="icon-plus-sign"></i></span>
                                                                    <h3><img class="status-icon" src="images/icon_status-half.png">Work Roles</h3>
                                                                </div>
                                                                <div class="accordion-content">
                                                                    <div class="data-list-tbl">
                                                                        <div class="dlt-row " ng-click="showcertification_table($event);">
                                                                            <span><img class="status-icon" src="images/icon_status-full.png">Data manager</span>
                                                                            <i>#43243232</i>
                                                                        </div>
                                                                        <div class="dlt-row" ng-click="showcertification_table($event);">
                                                                            <span><img class="status-icon" src="images/icon_status-full.png">Primary Analyst</span>
                                                                            <i>#43243232</i>
                                                                        </div>
                                                                        <div class="dlt-row active" ng-click="showcertification_table($event);">
                                                                            <span><img class="status-icon" src="images/icon_status.png">Data manager</span>
                                                                            <i>#43243232</i>
                                                                        </div>
                                                                        <div class="dlt-row" ng-click="showcertification_table($event);">
                                                                            <span><img class="status-icon" src="images/icon_status-half.png">Primary Analyst</span>
                                                                            <i>#43243232</i>
                                                                        </div>
                                                                        <div class="dlt-row" ng-click="showcertification_table($event);">
                                                                            <span><img class="status-icon" src="images/icon_status.png">Data manages</span>
                                                                            <i>#43243232</i>
                                                                        </div>
                                                                        <div class="dlt-row" ng-click="showcertification_table($event);">
                                                                            <span><img class="status-icon" src="images/icon_status-half.png">Primary Analyst</span>
                                                                            <i>#43243232</i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/.accordion-content-->
                                                            </div>
                                                            <!--/.accordion-container-->

                                                            <div class="accordion-container">
                                                                <div href="javascript:void(0);" class="accordion-toggle idealsteps-nav" ng-click="accordion_dialog_toggle($event)">
                                                                    <span class="toggle-icon"><i  class="icon-plus-sign"></i></span>
                                                                    <h3><img class="status-icon" src="images/icon_status-full.png">Regions</h3>
                                                                </div>
                                                                <div class="accordion-content">
                                                                    <div class="data-list-tbl">
                                                                        <div class="dlt-row" ng-click="showcertification_table($event);">
                                                                            <span><img class="status-icon" src="images/icon_status-full.png">Data manages</span>
                                                                            <i>#43243232</i>
                                                                        </div>
                                                                        <div class="dlt-row" ng-click="showcertification_table($event);">
                                                                            <span><img class="status-icon" src="images/icon_status-full.png">Primary Analyst</span>
                                                                            <i>#43243232</i>
                                                                        </div>
                                                                        <div class="dlt-row" ng-click="showcertification_table($event);">
                                                                            <span><img class="status-icon" src="images/icon_status.png">Data manages</span>
                                                                            <i>#43243232</i>
                                                                        </div>
                                                                        <div class="dlt-row" ng-click="showcertification_table($event);">
                                                                            <span><img class="status-icon" src="images/icon_status-half.png">Primary Analyst</span>
                                                                            <i>#43243232</i>
                                                                        </div>
                                                                        <div class="dlt-row" ng-click="showcertification_table($event);">
                                                                            <span><img class="status-icon" src="images/icon_status.png">Data manages</span>
                                                                            <i>#43243232</i>
                                                                        </div>
                                                                        <div class="dlt-row" ng-click="showcertification_table($event);">
                                                                            <span><img class="status-icon" src="images/icon_status-half.png">Primary Analyst</span>
                                                                            <i>#43243232</i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/.accordion-content-->
                                                            </div>
                                                            <!--/.accordion-container-->

                                                            <div class="accordion-container">
                                                                <div href="javascript:void(0);" class="accordion-toggle idealsteps-nav" ng-click="accordion_dialog_toggle($event)">
                                                                    <span class="toggle-icon"><i  class="icon-plus-sign"></i></span>
                                                                    <h3><img class="status-icon" src="images/icon_status.png">Application</h3>
                                                                </div>
                                                                <div class="accordion-content">
                                                                    <div class="data-list-tbl">
                                                                        <div class="dlt-row" ng-click="showcertification_table($event);">
                                                                            <span><img class="status-icon" src="images/icon_status-full.png">Data manages</span>
                                                                            <i>#43243232</i>
                                                                        </div>
                                                                        <div class="dlt-row" ng-click="showcertification_table($event);">
                                                                            <span><img class="status-icon" src="images/icon_status-full.png">Primary Analyst</span>
                                                                            <i>#43243232</i>
                                                                        </div>
                                                                        <div class="dlt-row" ng-click="showcertification_table($event);">
                                                                            <span><img class="status-icon" src="images/icon_status.png">Data manages</span>
                                                                            <i>#43243232</i>
                                                                        </div>
                                                                        <div class="dlt-row" ng-click="showcertification_table($event);">
                                                                            <span><img class="status-icon" src="images/icon_status-half.png">Primary Analyst</span>
                                                                            <i>#43243232</i>
                                                                        </div>
                                                                        <div class="dlt-row" ng-click="showcertification_table($event);">
                                                                            <span><img class="status-icon" src="images/icon_status.png">Data manages</span>
                                                                            <i>#43243232</i>
                                                                        </div>
                                                                        <div class="dlt-row" ng-click="showcertification_table($event);">
                                                                            <span><img class="status-icon" src="images/icon_status-half.png">Primary Analyst</span>
                                                                            <i>#43243232</i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/.accordion-content-->
                                                            </div>
                                                            <!--/.accordion-container-->

                                                            <div class="accordion-container">
                                                                <div href="javascript:void(0);" class="accordion-toggle idealsteps-nav" ng-click="accordion_dialog_toggle($event)">
                                                                    <span class="toggle-icon"><i  class="icon-plus-sign"></i></span>
                                                                    <h3><img class="status-icon" src="images/icon_status-half.png">Departments</h3>
                                                                </div>
                                                                <div class="accordion-content">
                                                                    <div class="data-list-tbl">
                                                                        <div class="dlt-row" ng-click="showcertification_table($event);">
                                                                            <span><img class="status-icon" src="images/icon_status-full.png">Data manages</span>
                                                                            <i>#43243232</i>
                                                                        </div>
                                                                        <div class="dlt-row" ng-click="showcertification_table($event);">
                                                                            <span><img class="status-icon" src="images/icon_status-full.png">Primary Analyst</span>
                                                                            <i>#43243232</i>
                                                                        </div>
                                                                        <div class="dlt-row" ng-click="showcertification_table($event);">
                                                                            <span><img class="status-icon" src="images/icon_status.png">Data manages</span>
                                                                            <i>#43243232</i>
                                                                        </div>
                                                                        <div class="dlt-row" ng-click="showcertification_table($event);">
                                                                            <span><img class="status-icon" src="images/icon_status-half.png">Primary Analyst</span>
                                                                            <i>#43243232</i>
                                                                        </div>
                                                                        <div class="dlt-row" ng-click="showcertification_table($event);">
                                                                            <span><img class="status-icon" src="images/icon_status.png">Data manages</span>
                                                                            <i>#43243232</i>
                                                                        </div>
                                                                        <div class="dlt-row" ng-click="showcertification_table($event);">
                                                                            <span><img class="status-icon" src="images/icon_status-half.png">Primary Analyst</span>
                                                                            <i>#43243232</i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/.accordion-content-->
                                                            </div>
                                                            <!--/.accordion-container-->

                                                            <div class="accordion-container">
                                                                <div href="javascript:void(0);" class="accordion-toggle idealsteps-nav" ng-click="accordion_dialog_toggle($event)">
                                                                    <span class="toggle-icon"><i  class="icon-plus-sign"></i></span>
                                                                    <h3><img class="status-icon" src="images/icon_status-half.png">Jobs</h3>
                                                                </div>
                                                                <div class="accordion-content">
                                                                    <div class="data-list-tbl">
                                                                        <div class="dlt-row" ng-click="showcertification_table($event);">
                                                                            <span><img class="status-icon" src="images/icon_status-full.png">Data manages</span>
                                                                            <i>#43243232</i>
                                                                        </div>
                                                                        <div class="dlt-row" ng-click="showcertification_table($event);">
                                                                            <span><img class="status-icon" src="images/icon_status-full.png">Primary Analyst</span>
                                                                            <i>#43243232</i>
                                                                        </div>
                                                                        <div class="dlt-row" ng-click="showcertification_table($event);">
                                                                            <span><img class="status-icon" src="images/icon_status.png">Data manages</span>
                                                                            <i>#43243232</i>
                                                                        </div>
                                                                        <div class="dlt-row" ng-click="showcertification_table($event);">
                                                                            <span><img class="status-icon" src="images/icon_status-half.png">Primary Analyst</span>
                                                                            <i>#43243232</i>
                                                                        </div>
                                                                        <div class="dlt-row" ng-click="showcertification_table($event);">
                                                                            <span><img class="status-icon" src="images/icon_status.png">Data manages</span>
                                                                            <i>#43243232</i>
                                                                        </div>
                                                                        <div class="dlt-row" ng-click="showcertification_table($event);">
                                                                            <span><img class="status-icon" src="images/icon_status-half.png">Primary Analyst</span>
                                                                            <i>#43243232</i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--/.accordion-content-->
                                                            </div>
                                                            <!--/.accordion-container-->
                                                            <div class="text-right">
                                                                <md-button ng-disabled="true" ng-click="complete_access($event)" class="btn md-raised complete_button md-primary">Complete</md-button>
                                                            </div>
                                                        </div>
                                                        <!-- ./accordion -->
                                                    </td>
                                                    <td class="text-center access-not-found">
                                                        <div class="no-access-found">
                                                            <img class="icon-img" src="images/icon_user-settings.png">
                                                            <h3>
                                                                                No Access Selected.
                                                                            <br>Select  the User’s Access from
                                                                            <br>the Options Available on the 
                                                                            <br>left to Certify
                                                                        </h3>
                                                        </div>
                                                    </td>
                                                    <td class="access-info-table hide">
                                                        <table class="app-table ap-header-tbl">
                                                            <thead>
                                                                <tr>
                                                                    <th>Summary</th>
                                                                    <th class="appTable-thead-info">
                                                                        <span><strong>Valid From</strong> December 27th, 2015 </span>
                                                                        <span><strong>until</strong><span class="red-text margin-0">Janauary 27th, 2016</span></span>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                        <table class="revokeCertify-header-tbl">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        <div class="pull-left">
                                                                            <span>Certify:</span> Data Manager
                                                                        </div>
                                                                        <div class="pull-right">
                                                                            <span class="green-text">Revoke</span> or <span class="red-text">Certify</span> All &nbsp;
                                                                            <div class="revokeCertify-option">
                                                                                <span class="optionR-text">R</span>
                                                                                <span ng-click="enableallc($event)" class="optionC-text">C</span>
                                                                            </div>
                                                                            <!-- ./revokeCertify-option -->
                                                                        </div>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                        <table class="app-table">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="display-block">Database</td>
                                                                    <td class="none-tbl">
                                                                        <table>
                                                                            <tr>
                                                                                <td>Oracle 10g
                                                                                    <div class="revokeCertify-option pull-right">
                                                                                        <span class="optionR-text">R</span>
                                                                                        <span class="optionC-text active">C</span>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>MySQl
                                                                                    <div class="revokeCertify-option pull-right">
                                                                                        <span class="optionR-text">R</span>
                                                                                        <span class="optionC-text">C</span>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Oracle 11g
                                                                                    <div class="revokeCertify-option pull-right">
                                                                                        <span class="optionR-text">R</span>
                                                                                        <span class="optionC-text">C</span>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="display-block">Environments</td>
                                                                    <td class="none-tbl">
                                                                        <table>
                                                                            <tr>
                                                                                <td>Dev
                                                                                    <div class="revokeCertify-option pull-right">
                                                                                        <span class="optionR-text">R</span>
                                                                                        <span class="optionC-text">C</span>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>QA
                                                                                    <div class="revokeCertify-option pull-right">
                                                                                        <span class="optionR-text">R</span>
                                                                                        <span class="optionC-text">C</span>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>PROD
                                                                                    <div class="revokeCertify-option pull-right">
                                                                                        <span class="optionR-text">R</span>
                                                                                        <span class="optionC-text">C</span>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>PROD2
                                                                                    <div class="revokeCertify-option pull-right">
                                                                                        <span class="optionR-text">R</span>
                                                                                        <span class="optionC-text">C</span>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="display-block">Linx Access</td>
                                                                    <td>Yes
                                                                        <div class="revokeCertify-option pull-right">
                                                                            <span class="optionR-text">R</span>
                                                                            <span class="optionC-text">C</span>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="display-block">Special Privileges</td>
                                                                    <td class="none-tbl">
                                                                        <table>
                                                                            <tr>
                                                                                <td>
                                                                                    <div class="tbl-col-div">
                                                                                        <div class="tcd-col">
                                                                                            <small>Privileges</small>
                                                                                            <span>Editor</span>
                                                                                        </div>
                                                                                        <div class="tcd-col">
                                                                                            <small>Department</small>
                                                                                            <span>Finance</span>
                                                                                        </div>
                                                                                        <div class="tcd-col">
                                                                                            <small>Work Role</small>
                                                                                            <span>Primary Analyst</span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="revokeCertify-option pull-right">
                                                                                        <span class="optionR-text">R</span>
                                                                                        <span class="optionC-text">C</span>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <div class="tbl-col-div">
                                                                                        <div class="tcd-col">
                                                                                            <small>Privileges</small>
                                                                                            <span>Reporting</span>
                                                                                        </div>
                                                                                        <div class="tcd-col">
                                                                                            <small>Department</small>
                                                                                            <span>Infrastructure</span>
                                                                                        </div>
                                                                                        <div class="tcd-col">
                                                                                            <small>Work Role</small>
                                                                                            <span>Project Lead</span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="revokeCertify-option pull-right">
                                                                                        <span class="optionR-text">R</span>
                                                                                        <span class="optionC-text">C</span>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="display-block">Departments</td>
                                                                    <td class="none-tbl">
                                                                        <table>
                                                                            <tr>
                                                                                <td>Infrastructure
                                                                                    <div class="revokeCertify-option pull-right">
                                                                                        <span class="optionR-text">R</span>
                                                                                        <span class="optionC-text">C</span>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>International Public Finance
                                                                                    <div class="revokeCertify-option pull-right">
                                                                                        <span class="optionR-text">R</span>
                                                                                        <span class="optionC-text">C</span>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>US Public Finance
                                                                                    <div class="revokeCertify-option pull-right">
                                                                                        <span class="optionR-text">R</span>
                                                                                        <span class="optionC-text">C</span>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="display-block">Content Access</td>
                                                                    <td class="none-tbl">
                                                                        <table>
                                                                            <tr>
                                                                                <td>Read/Wire: Analytical Content
                                                                                    <div class="revokeCertify-option pull-right">
                                                                                        <span class="optionR-text">R</span>
                                                                                        <span class="optionC-text">C</span>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Read/Wire: Commercial Content
                                                                                    <div class="revokeCertify-option pull-right">
                                                                                        <span class="optionR-text">R</span>
                                                                                        <span class="optionC-text">C</span>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="display-block">Special Contact Access</td>
                                                                    <td class="none-tbl">
                                                                        <table>
                                                                            <tr>
                                                                                <td>Create Estimates
                                                                                    <div class="revokeCertify-option pull-right">
                                                                                        <span class="optionR-text">R</span>
                                                                                        <span class="optionC-text">C</span>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Trading Estimates
                                                                                    <div class="revokeCertify-option pull-right">
                                                                                        <span class="optionR-text">R</span>
                                                                                        <span class="optionC-text">C</span>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Financial Group
                                                                                    <div class="revokeCertify-option pull-right">
                                                                                        <span class="optionR-text">R</span>
                                                                                        <span class="optionC-text">C</span>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Trading Group
                                                                                    <div class="revokeCertify-option pull-right">
                                                                                        <span class="optionR-text">R</span>
                                                                                        <span class="optionC-text">C</span>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="display-block">Special Content Environment</td>
                                                                    <td class="none-tbl">
                                                                        <table>
                                                                            <tr>
                                                                                <td>Dev
                                                                                    <div class="revokeCertify-option pull-right">
                                                                                        <span class="optionR-text">R</span>
                                                                                        <span class="optionC-text">C</span>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>QA
                                                                                    <div class="revokeCertify-option pull-right">
                                                                                        <span class="optionR-text">R</span>
                                                                                        <span class="optionC-text">C</span>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>PROD
                                                                                    <div class="revokeCertify-option pull-right">
                                                                                        <span class="optionR-text">R</span>
                                                                                        <span class="optionC-text">C</span>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="display-block">Justification</td>
                                                                    <td>
                                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,<span ng-click="readmoretext($event);" class="read_more cursor-pointer blue-text">...</span><span class="remaining_text" style="display:none;">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <span style="display:none;" class="less_more cursor-pointer blue-text" ng-click="lessmoretext($event);">hide</span></span>
                                                                        </p>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                            <tfoot>
                                                                <tr>
                                                                    <td colspan="2">
                                                                        <div class="text-right">
                                                                            <md-button class="btn md-raised md-primary">Cancel</md-button>
                                                                            <md-button class="btn md-raised md-primary">Save</md-button>
                                                                            <md-button ng-disabled="true" ng-click="showalertsuccess($event)" class="btn submit_button md-raised md-primary">Submit</md-button>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tfoot>
                                                        </table>
                                                    </td>
                                                    <td class="hide vertical-topalign">
                                                        <div class="alert alert-success" role="alert">
                                                            <p>Your Certification for
                                                                <br><span>Jim Sands</span>
                                                                <br><span>Work Roles: Data Manager</span>
                                                                <br>Access ID: <span>#43243232</span>
                                                            </p>
                                                            <p>has been successfully completed</p>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </md-content>
                </div>
            </div>
        </md-content>
        <!-- ./mail-list-pane -->
    </div>
    <!-- ./content-wrapper -->
</div>
<!-- ./content-card-->
</perfect-scrollbar>