.accordion-container {
  width: 100%;
  margin: 0 0 20px;
  clear: both;

}
.accordion-toggle {
  position: relative;
  display: block;
  padding: 0 15px; 
  background: $bright-blue-color; 
  text-decoration: none;
  z-index: 1;
  outline: none;
  span.toggle-icon {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
    color: $gray-color;
    padding: 3px 10px;
  }
}
.accordion-content {
    border: 1px solid #cccccc;
    display: none;
    padding: 20px;
    overflow: auto;
    border-width: 0 1px 1px 1px;
  img {
    display: block;
    float: left;
    margin: 0 15px 10px 0;
    max-width: 100%;
    height: auto;
  }
}
/* media query for mobile */

@media (max-width: 767px) {
  .content {
    width: auto;
  }
  .accordion-content {
    padding: 10px 0;
    overflow: inherit;
  }
}




.idealsteps-nav {
    padding: 0 15px 0 0;
    nav {
        margin-left: 40px;
    }
  ul {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
  }
  li {
    float: left; 
    &:nth-child(1) {
        .counter {
            left: 10px;
        }
        h4 { 
            padding-left: 45px;
        }
    }
    &:nth-child(1),
    &:nth-child(2) {
        background-color: $light-green-color;
        h4 { 
            &:after {
                border-left-color: $light-green-color;
            } 
        }
    } 
    &:nth-child(3) {
        background-color: $light-pink-color;
        h4 { 
            &:after {
                border-left-color: $light-pink-color;
            } 
        }
    }
    &:nth-child(4) {
        background-color: $extralight-gray-color1;
    }
  }
  h4 {
    margin: 0;
    font-size: 16px;
    font-weight: $font-weight-semibold;
    position: relative;
    float: left;
    padding: 0 5px 0 65px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    color: $white-color;
    -webkit-transition: padding 0.2s ease-in-out;
    -moz-transition: padding 0.2s ease-in-out;
    -o-transition: padding 0.2s ease-in-out;
    -ms-transition: padding 0.2s ease-in-out;
    transition: padding 0.2s ease-in-out;
    &:focus {
      outline: 0;
    } 
    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      right: -2em;
      margin-right: 0;
      
      border-width: 20px 1em;
      border-style: solid;
      border-color: transparent;
      border-left-color: #ddd;
    }
    &:before {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      right: -2em;
      margin-right: 0;
      
      border-width: 20px 1em;
      border-style: solid;
      border-color: transparent; 
      margin-right: -1px;
      border-left-color: $extralight-blue-color;
    }
  }
  li {
    position: relative;
    &:first-child a {
      padding-left: 1.75em;
      -webkit-border-top-left-radius: 3.01px;
      border-top-left-radius: 3.01px;
      -webkit-border-bottom-left-radius: 3.01px;
      border-bottom-left-radius: 3.01px;
    }
  }
  .counter { 
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity = 0);
    position: absolute;
    top: 50%;
    left: 28px;
    height: 24px;
    width: 24px;
    margin-top: -12px;
    line-height: 24px !important;
    text-align: center;
    color: $white-color;
    font-weight: $font-weight-bold;
    font-size: 13px;
    background-color: $gray-color;
    -webkit-border-radius: 24px;
    border-radius: 24px; 
    z-index: 2;
  } 
  @media screen and (max-width: 960px) {
    h4 {
      padding-left: 50px;
    }
    .counter {
      left: 22px;
    }
    li {
      &:nth-child(1) {
        h4 {
          padding-left: 35px;
        }
        .counter {
          left: 6px;
        }
      }
    }
  }

}
 
.access-table {
    table {
        width: 100%;
        border-spacing: 0 20px;
        tbody {
            tr { 
                &:nth-child(1),
                &:nth-child(2) {
                    td {
                        background-color: #cce8cc;  
                    }
                }
                &:nth-child(3){
                    td {
                        background-color: #faccc9;   
                    }
                }
                &:nth-child(4){
                    td {
                        background-color: $extralight-gray-color;   
                    }
                }
                &.disabled {
                    td {
                        &:nth-child(2),
                        &:nth-child(3),
                        &:nth-child(4) {
                            color: $gray-color;
                        }
                    }
                    .disabled-icon {
                        float: right; 
                        cursor: pointer;
                        .icon-arrow-right{
                            font-size: 20px; 
                            position: relative;
                            top: -2px;
                        }
                        .icon-edit {
                            font-size: 28px;
                            position: relative;
                            top: 3px;
                        }
                    }
                }
                td {
                    &:nth-child(1) {
                        font-size: 22px;
                        font-weight: $font-weight-bold;
                        color: $gray-color;
                        padding-left: 8px;
                        padding-right: 0;
                        width: 32px;
                    }
                    &:nth-child(2),
                    &:nth-child(3) {
                        width: 160px;
                    }
                    &:nth-child(4),
                    {

                    }
                    overflow: hidden;
                    border-spacing: 0;      
                    padding: 5px 20px;
                    font-weight: $font-weight-regular;
                    font-size: 18px;
                    margin-bottom: 20px;
                    &:nth-child(1) {
                        background-color: #efefef;
                    }
                }
            }
        }
    }
}

.acc-position-relative {
    position: relative;
    // width: 300px;
    display: block;
    .righticon-accordion {
            width: 100%;
            // position: absolute;
            top: -2px;
            left: -2px;        
    }
}

md-dialog-content {
    .app-table {
        .appTable-thead-info {
            span {
                margin-left: 10px;
            }
            strong {
                margin-right: 10px;
            }
        }
    }
    thead {
        tr {
            th {
                &:first-child {
                    width: 200px;
                }
            }
        }
    }
}
.righticon-accordion { 
    .accordion-toggle {
        cursor: pointer;
        height: 60px;
        line-height: 60px;
        padding: 0 15px;
        background-color: transparent;
        border-bottom: 1px solid $light-gray-color;
        span {
            &.toggle-icon {
                left: auto;
                right: 0;
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }
    .accordion-container {
        margin-bottom: 0;
        &.SelectedAccordion{
            .accordion-toggle {
                background-color: $bright-blue-color;
            }
        }
    }
    .accordion-content {
        padding: 0;
        border: none;
        table {
            border-spacing: 0;
            tbody {
                tr {
                    border-bottom: 1px solid $light-gray-color;
                    td {
                        &:nth-child(1),
                        &:nth-child(2) {
                            border: none;
                            background-color: transparent;
                        }
                    }
                    &:hover {
                        background-color: $light-blue-color; 
                    } 
                }
            }
        } 
    }
    h3 {
        font-size: 18px;
        font-weight: $font-weight-semibold;
        margin: 0;
        color: $blue-color;
    } 
}

 