<md-toolbar>
    <div class="md-toolbar-tools">
        <div class="pull-left">
            <div class="md-icon">
                <i class="icon-edit"></i>
                <i class="icon-arrow-right"></i>
                <md-tooltip>
                    <span translate="MAIL.NEXT">Reassign</span>
                </md-tooltip>
            </div>
        </div>
        <span class="flex"></span>
        <div class="pull-right cursor-pointer" ng-click="hidePopover()" aria-label="Close dialog">
            <i class="icon-remove blue-text"></i>
        </div>
    </div>
</md-toolbar>
<md-dialog-content>
    <h3>Assign to</h3>
    <div class="assign-to-tbl-scroll">
        <table>
            <tbody>
                <tr>
                    <td>John Kandra</td>
                </tr>
                <tr>
                    <td>Vrinda Bahgat</td>
                </tr>
                <tr>
                    <td>Tom Sullivan</td>
                </tr>
                <tr>
                    <td>Erik Thompson</td>
                </tr>
                 <tr>
                    <td>John Kandra</td>
                </tr>
                <tr>
                    <td>Vrinda Bahgat</td>
                </tr>
                <tr>
                    <td>Tom Sullivan</td>
                </tr>
                <tr>
                    <td>Erik Thompson</td>
                </tr>
                 <tr>
                    <td>John Kandra</td>
                </tr>
                <tr>
                    <td>Vrinda Bahgat</td>
                </tr>
                <tr>
                    <td>Tom Sullivan</td>
                </tr>
                <tr>
                    <td>Erik Thompson</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-right">
        <md-button ng-click="hidePopover()" class="btn md-raised md-primary">Apply <i class="fa fa-times"></i></md-button>
    </div>
</md-dialog-content>
