<div class="brief-wrap" ng-controller="TabController">
    <div class="header-bar border-b4">
        <h5>Briefcase  <i class="icon-img cursor-pointer"><img src="images/icon_remove.png" width="29px"></i></h5>
    </div>


    <div class="padding-10 brief-info-wrap hide">
        <div class="alert alert-success ng-scope" id="alert-approve-success" role="alert">
            <div class="success-link">
               <md-icon md-font-icon="icon-ok"></md-icon>Your Briefcase has been submitted successfully.
            </div>
        </div>



        <div class="brief-detailWrap">
            <p class="order-detail"><span class="greenText">Your Order ID:</span> <strong>#4378</strong></p>

            <p><strong>If you have any further question contact the system administrator</strong></p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
    </div>


    <div class="content-wrapper mailbox-card approval-list briefcase_list" ng-controller="TabController" layout="row" flex>
        <md-content class="flex-100 ms-scroll ng-scope md-default-theme" flex="100" ms-scroll>
            <div id="mail">
                <div class="mail-list-pane">
                    <div class="alert alert-success ng-scope" id="alert-approve-success" role="alert">
                        <div class="success-link">
                            You have successfully <span>Completed the access request</span> for <span class="brief_user_name"><strong>Sydney Clark.</strong></span>
                            <br>It has been added to your briefcase
                        </div>
                    </div>
                    <div class="mail-list-expanded">
                        <div class="horz-row">
                            <div class="mail-list-item-info">
                                <span><strong>#2345678992</strong></span>
                                <span class="font-weight-600" ui-sref="home.access">Full region access for Sydney Clark</span>
                                <div class="pull-right edit-wrap">
                                    <label class="edit-control cursor-pointer">
                                        <md-icon md-font-icon="fa icon-pencil"></md-icon>
                                    </label>
                                    <label class="checkbox-control">
                                        <input type="checkbox" class="childCheckbox" ng-click="checkbox($event)" value="" />
                                        <span class="label"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="mail-list-item-msg">
                                <p class="ellipse">Sydney, requires this for six months. We canthis longer space longer read on justification, ellipse to dteails</p>
                            </div>
                            <div class="mail-list-item-category">

                                <div>
                                    <strong>Category</strong>
                                    <span>Work Role</span>
                                </div>
                                <div>
                                    <strong>Assigned To</strong>
                                    <span>Sue Lima</span>
                                </div>
                            </div>
                        </div>
                        <div class="horz-row">
                            <div class="mail-list-item-info">
                                <span><strong>#2345678993</strong></span>
                                <span class="font-weight-600">Access to SCSP</span>
                                <div class="pull-right edit-wrap">
                                    <label class="edit-control cursor-pointer">
                                        <md-icon md-font-icon="fa icon-pencil"></md-icon>
                                    </label>
                                    <label class="checkbox-control">
                                        <input type="checkbox" class="childCheckbox" ng-click="checkbox($event)" value="" />
                                        <span class="label"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="mail-list-item-msg">
                                <p class="ellipse">Sydney, requires this for six months. We canthis longer space longer read on justification, ellipse to dteails</p>
                            </div>
                            <div class="mail-list-item-category">

                                <div>
                                    <strong>Category</strong>
                                    <span>Region</span>
                                </div>
                                <div>
                                    <strong>Assigned To</strong>
                                    <span>Sue Lima</span>
                                </div>
                            </div>
                        </div>
                        <div class="horz-row">
                            <div class="mail-list-item-info">
                                <span><strong>#2345678994</strong></span>
                                <span class="font-weight-600">Access to Arrow Global
                  
                    </span>
                                <div class="pull-right edit-wrap">
                                    <label class="edit-control cursor-pointer">
                                        <md-icon md-font-icon="fa icon-pencil"></md-icon>
                                    </label>
                                    <label class="checkbox-control">
                                        <input type="checkbox" class="childCheckbox" ng-click="checkbox($event)" value="" /><span class="label"> </span>
                                    </label>
                                </div>
                            </div>
                            <div class="mail-list-item-msg">
                                <p class="ellipse">Sydney, requires this for six months. We canthis longer space longer read on justification, ellipse to dteails</p>
                            </div>
                            <div class="mail-list-item-category">

                                <div>
                                    <strong>Category</strong>
                                    <span>Department</span>
                                </div>
                                <div>
                                    <strong>Assigned To</strong>
                                    <span class="blue-text font-weight-600">Corporate Compliance</span>
                                </div>
                            </div>
                        </div>
                        <div class="horz-row">
                            <div class="mail-list-item-info">
                                <span><strong>#2345678995</strong></span>
                                <span class="font-weight-600">Access to CORE</span>
                                <div class="pull-right edit-wrap">
                                    <label class="edit-control cursor-pointer">
                                        <md-icon md-font-icon="fa icon-pencil"></md-icon>
                                    </label>
                                    <label class="checkbox-control">
                                        <input type="checkbox" class="childCheckbox" ng-click="checkbox($event)" value="" /><span class="label"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="mail-list-item-msg">
                                <p class="ellipse">Sydney, requires this for six months. We canthis longer space longer read on justification, ellipse to dteails</p>
                            </div>
                            <div class="mail-list-item-category">
                                <div>
                                    <strong>Category</strong>
                                    <span>Region</span>
                                </div>
                                <div>
                                    <strong>Assigned To</strong>
                                    <span>Tom Burke</span>
                                </div>
                            </div>
                        </div>
                        <div class="horz-row">
                            <div class="mail-list-item-info">
                                <span><strong>#2345678995</strong></span>
                                <span class="font-weight-600">Bussiness Object of Team</span>
                                <div class="pull-right edit-wrap">
                                    <label class="edit-control cursor-pointer">
                                        <md-icon md-font-icon="fa icon-pencil"></md-icon>
                                    </label>
                                    <label class="checkbox-control">
                                        <input type="checkbox" class="childCheckbox" ng-click="checkbox($event)" value="" /><span class="label"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="mail-list-item-msg">
                                <p class="ellipse">Sydney, requires this for six months. We canthis longer space longer read on justification, ellipse to dteails</p>
                            </div>
                            <div class="mail-list-item-category">
                                <div>
                                    <strong>Category</strong>
                                    <span>Region</span>
                                </div>
                                <div>
                                    <strong>Assigned To</strong>
                                    <span>Tom Burke</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-content>
        <!-- ./mail-list-pane -->
    </div>
    <!-- ./content-wrapper -->
</div>
