<div class="summary-wrap" ng-controller="TabController">

    <div class="header-bar border-b4">
        <h5>Summary</h5>
    </div>

    <div class="padding-10">
        <div class="search-wrapper layout-align-start-center layout-row flex borderBlue" layout="row" layout-align="start center" flex="">
            <div class="search layout-align-start-center layout-row flex" flex="" layout="row" layout-align="start center">
                <input flex="" ng-model="vm.search" type="text" ng-keyup="enablebriefcasebutton($event)" placeholder="Enter the title for your Access Request" translate="" translate-attr-placeholder="MAIL.SEARCH_PLACEHOLDER" class="ng-pristine ng-valid flex ng-touched" aria-invalid="false" style="">
                <md-icon md-font-icon="fa icon-info-sign"></md-icon>

            </div>
        </div>
        <div class="clearfix"></div>



        <table class="app-table">
            <thead>
                <tr>
                    <th>Beneficiary</th>
                    <th class="user_name_selection"><span>Sidney Clark</span>
                        <a href="javascript:;" ng-click="gotofirsttab();" class="icon-img"><img src="images/icon_editBlue.png">
                        </a>
                    </th>

                </tr>
                <tr class="empty-bg">
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <th>Access</th>
                    <th class="summary_work_role_selection"><span>Work Roles: Data Manager</span>
                        <a href="javascript:;" ng-click="editsecondtab()" class="icon-img"><img src="images/icon_editBlue.png">
                        </a>
                    </th>
                </tr>
                <tr class="empty-bg">
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <th>Form</th>
                    <th>
                        <a href="javascript:;" class="icon-img"><img src="images/icon_editBlue.png">
                        </a>
                    </th>

                </tr>

            </thead>
            <tbody>
                <tr>
                    <td>Valid From</td>
                    <td>December 27th, 2015 <strong>until</strong> January 27th, 2016</td>
                </tr>
                <tr class="summary_database">
                    <td>Database</td>
                    <td>
                        <p>Oracle 10g, MySQL, Oracle 11g</p>
                    </td>
                </tr>
                <tr class="summary_environments">
                    <td>Environments</td>
                    <td>
                        <p>Dev, QA, PROD, PROD2</p>
                    </td>
                </tr>
                <tr class="summary_linx_access">
                    <td>LinX Access</td>
                    <td>Yes</td>
                </tr>
                <tr class="summary_departments_content">
                    <td>Departments</td>
                    <td>
                        <p>Infastrucure, International public Finance, US public Finance</p>
                    </td>
                </tr>
				<tr class="summary_work_regions">
                    <td>Regions</td>
                    <td class="summary_content_work_Regions">
                        <p>North America</p>
                        <p>EMTA</p>
                        <p>LATAM</p>
						<p>Japan</p>
                    </td>
                </tr>
                <tr>
                    <td>Content Access</td>
                    <td class="summary_content_access">Read/Write: Analytical Content, Comercial Content</td>
                </tr>
                <tr>
                    <td>Special Content Access</td>
                    <td class="summary_special_content_access">Credit Estimates, Trading Estimates, Financial Groups, Trading Vendors</td>
                </tr>
                <tr>
                    <td>Special Content Enviroment</td>
                    <td class="summary_special_environment">Dev,QA,PROD</td>
                </tr>
                <tr>
                    <td>Justification</td>
                    <td class="summary_content_justification">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</td>
                </tr>
            </tbody>
        </table>
        <!-- ./app-table -->

        <div class="alert alert-warning agree_term_alert icon-warnAlert clearfix">
            <p>You have agreed to the terms</p>
        </div>
        <!-- ./alert -->
        
    </div>
</div>
